
<div class="container">
  <h1>Pick a Category to Find New Cocktails</h1>
  </div>
  <div class="container">
<form class="form" role="form">
    <mat-form-field appearance="fill" class="full-width" color="accent">
        <mat-label>Search by Category</mat-label>
        <mat-select name="category" [(ngModel)]="value" (ngModelChange)="byCategory()">
            <mat-option id="category" *ngFor="let category of categories" [value]="category.strCategory">{{category.strCategory}}</mat-option>
        </mat-select>
      </mat-form-field>
  </form>
  </div>
  
  
  <mat-grid-list cols="4" gutterSize="15px" rowHeight="300px">
  
    <mat-grid-tile *ngFor='let recipe of recipes' class="cardHolder">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
           <a mat-button routerLink='/breakdown/{{recipe.idDrink}}'>{{recipe.strDrink}}</a>
          </mat-card-title>
        </mat-card-header>
          <img class="center" src="{{recipe.strDrinkThumb}}/preview" alt="{{recipe.strDrink}}">
        <mat-card-footer>
          <button mat-icon-button
          (click)="openSnackBar()"
          (click)="addFavDrink(recipe)"
          color="accent">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
 </mat-grid-list>
