<mat-toolbar role="heading" class="white"  color="primary">
  <mat-toolbar-row class="biggerText">The Complete Recipe Guide</mat-toolbar-row>
  <mat-toolbar-row class="light-background">
  <a  mat-button  routerLink="/login">Login</a>
  <a  mat-button  routerLink="/signup" >Sign Up</a>
  <a  mat-button  routerLink="/user">My Recipes</a>
  <a  mat-button  routerLink="/entree">Search For an Entree</a>
  <a  mat-button  routerLink="/cocktail">Search For a Cocktail</a>
  <a  mat-button  routerLink="/login">Log Out</a>
  
  </mat-toolbar-row>
  </mat-toolbar>
  <main>
  <router-outlet  style="margin-top: 80px;"></router-outlet>
  </main>



