<h1 class="largeFont paddingT">Welcome, {{user$ | async}}</h1>
<h2>Search for some recipes and cocktails and save your favorites here!</h2>


<h1>Your Favorite Recipes</h1>
<button color="accent" mat-raised-button (click)=clearFavMeals()>Clear Recipes</button>
<mat-grid-list cols="4" gutterSize="25px" rowHeight="300px">
  
    <mat-grid-tile *ngFor='let recipe of recipes' class="cardHolder">
        <mat-grid-tile-header>
          <mat-card-title>
           <a mat-button routerLink='/mealbreakdown/{{recipe.idMeal}}'>{{recipe.strMeal}}</a>
          </mat-card-title>
        </mat-grid-tile-header>
          <img src="{{recipe.strMealThumb}}/preview" alt="{{recipe.strMeal}}">
    </mat-grid-tile>
    
  </mat-grid-list>
  <br>
  <h1>Your Favorite Cocktails</h1>
  <button color="accent" mat-raised-button (click)=clearFavDrinks()>Clear Cocktails</button>
<mat-grid-list class="paddingT" cols="4" gutterSize="25px" rowHeight="300px">
  
    <mat-grid-tile *ngFor='let drink of drinks' class="cardHolder">
        <mat-grid-tile-header>
          <mat-card-title>
           <a mat-button routerLink='/breakdown/{{drink.idDrink}}'>{{drink.strDrink}}</a>
          </mat-card-title>
        </mat-grid-tile-header>
          <img src="{{drink.strDrinkThumb}}/preview" alt="{{drink.strDrink}}">
    </mat-grid-tile>
    
  </mat-grid-list>