.form {
    width: 100%;
    }
    
  .full-width {
      width: 100%;
    }
  

  .main-div{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center{
    width: 50%;
    margin: 10px auto;
  }

  button{
    margin-top: 10px;
  }