<div class="container">
  <h1>Pick a Category to Find New Recipes</h1>
</div>
<div *ngIf="!(user$ | async)" class="container">
  <h3>Sign up to save your favorites!</h3>
</div>
<div class="container">
  <form>
    <mat-form-field appearance="fill" class="full-width" color="accent">
      <mat-label>Search by Category</mat-label>
      <mat-select name="category" [(ngModel)]="value" (ngModelChange)="byCategory()">
        <mat-option id="category" *ngFor="let category of categories" [value]="category.strCategory">
          {{category.strCategory}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>



<mat-grid-list [cols]="breakpoint" gutterSize="5px" rowHeight="250px" (window:resize)="onResize($event)">

  <mat-grid-tile *ngFor='let recipe of recipes' class="cardHolder">
    <div class="parent" routerLink='/mealbreakdown/{{recipe.idMeal}}'>
      <div class="text">{{recipe.strMeal}}</div>
      <img class="center" src="{{recipe.strMealThumb}}/preview" alt="{{recipe.strMeal}}">
      <div>
        <button *ngIf="(user$ | async)" mat-icon-button (click)="openSnackBar()" (click)="addFavMeal(recipe)"
          color="accent">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>