<form class="form" role="form" [formGroup]="searchForm">
    <mat-form-field appearance="fill" class="full-width" color="accent">
      <mat-label>Search for a recipe</mat-label>
      <input matInput id="search" #input formControlName="param" placeholder="Ex. soup">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width" color="accent">
        <mat-label>Search by Category</mat-label>
        <mat-select>
            <mat-option id="category" *ngFor="let category of categories" [(value)]="selected" [value]="category.strCategory">{{category.strCategory}}</mat-option>
        </mat-select>
      </mat-form-field>
  </form>
  
  
  <mat-grid-list cols="3" gutterSize="25px" rowHeight="300px">
  
    <mat-grid-tile *ngFor='let recipe of recipes' class="cardHolder">
        <mat-grid-tile-header>
          <mat-card-title>{{recipe.strMeal}}</mat-card-title>
        </mat-grid-tile-header>
          <img src="{{recipe.strMealThumb}}/preview" alt="{{recipe.strMeal}}">
        <mat-grid-tile-footer>
          <button mat-icon-button
          (click)=openSnackBar()
          color="accent">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-grid-tile-footer>
      
    </mat-grid-tile>
  </mat-grid-list>
